<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="HUWebdriverSuite" thread-count="5" parallel="false">
	<!-- <groups>
		<run>
			<exclude name="ProfilePage"></exclude>
		</run>
	</groups> -->
	<test name="HUTests">
		<!-- <packages>
			<package name="com.hu.webdriver.tests.profile"></package>
		</packages> -->
		<classes>
			<class name="com.hu.webdriver.tests.profile.ProfilePageTest"/>
		</classes>
	</test>
</suite>
